{{- if .Values.validators.enabled }}
{{- if not .Values.staticNodes.configMapRef.name }}
{{- /* Only create ConfigMap if no external configMapRef is specified */ -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "besu-stack.fullname" . }}-static-nodes
  labels:
    {{- include "besu-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: config
  {{- with (include "besu-stack.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
data:
  static-nodes.json: |
    {{ include "besu-stack.staticNodes" . }}
{{- end }}
{{- end }}
