{{- if and .Values.ingress.enabled (eq (include "besu-stack.ingressType" .) "ingress") .Values.rpcNodes.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "besu-stack.fullname" . }}-rpc
  labels:
    {{- include "besu-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: rpc
  {{- with (include "besu-stack.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.hostname | quote }}
      {{- if .Values.ingress.tls.secretName }}
      secretName: {{ .Values.ingress.tls.secretName }}
      {{- else }}
      secretName: {{ include "besu-stack.fullname" . }}-tls
      {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.hostname | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "besu-stack.rpcNodes.serviceName" . }}
                port:
                  number: {{ .Values.rpcNodes.rpc.http.port }}
{{- end }}
